<div>
  <h2 id="page-heading" data-cy="VentaHeading">
    <span jhiTranslate="actividadApp.venta.home.title">Ventas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="actividadApp.venta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta"
        [routerLink]="['/venta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="actividadApp.venta.home.createLabel"> Create a new Venta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventas?.length === 0">
    <span jhiTranslate="actividadApp.venta.home.notFound">No ventas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ventas && ventas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.idventa">Idventa</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.cantidad">Cantidad</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.idCliente">Id Cliente</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.idProducto">Id Producto</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.idCliente">Id Cliente</span></th>
          <th scope="col"><span jhiTranslate="actividadApp.venta.idProducto">Id Producto</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a>
          </td>
          <td>{{ venta.idventa }}</td>
          <td>{{ venta.cantidad }}</td>
          <td>{{ venta.idCliente }}</td>
          <td>{{ venta.idProducto }}</td>
          <td>
            <div *ngIf="venta.idCliente">
              <a [routerLink]="['/cliente', venta.idCliente?.id, 'view']">{{ venta.idCliente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="venta.idProducto">
              <a [routerLink]="['/producto', venta.idProducto?.id, 'view']">{{ venta.idProducto?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/venta', venta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(venta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
